{% extends 'base.html' %} 
{% block title %}
Edit project
{% endblock %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block main %}
<script type="text/javascript" src="{{url_for('static',filename='js/for_project_model/create.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/edit_profile.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/upload_single_photo.js')}}"></script>
<script type="text/javascript">
$(document).ready(function() {
	upload_single_photo(document.location);
	delete_model(document.location);
});
</script>
<div class="modal fade" id="deleteProject" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title main-title ts-label-danger" id="deleteLabel">Delete account</h5>
					<button type="button" class="close casual-button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<label class="main-title">You really wanna <span class="ts-label-danger">delete your project</span>, don't you?</label>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-light casual-button" data-dismiss="modal">Exit</button>
					
					<button type="button" id="delete_button" class="btn  ts-btn-danger">Delete account</button>
					
				</div>
			</div>
		</div>
	</div>
<div class="container">
	<div class="row shadow-lg p-3 mb-5 bg-white rounded" >
		<div class="col-sm">
			<form action="#" method="post" class="signup-form" style="margin-bottom: 0%;margin-top: 1%">
				<div style="display: inline-flex;">
				<h1>Edit <span class="main-title-orange">your project</span></h1>
				<img onclick="avatar_input.click();" id="avatar_view" src="{{logo}}" class="ts-image ts-image-edit" width="70px" height="70px">
				<input class="is-invalid"  accept="image/*" id="avatar_input" type="file" name="avatar_file" style="display: none">
				</div>
				<div class="form-group" id="tag_list" style="margin-bottom: 0px">
					<a href="#"></a>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group">
							<!--<label for="team_name">Team name</label>
							<input type="text" class="form-control" id="team_name" placeholder="Team name">
							 <small id="teamnameHelp" class="form-text text-muted">Only letters,ciphers, '-', '_' and '.'<br>(no more than 16 characters)</small>-->
							{% if not form.team_name.errors%}
								{{render_field_with_errors(form.team_name,class="form-control",placeholder="Team name")}}
								<small id="teamnameHelp" class="form-text text-muted">Only letters,ciphers, '-', '_' and '.'<br>(no more than 16 characters)</small>
							{% else %}
								{{render_field_with_errors(form.team_name,class="form-control is-invalid",placeholder="Team name")}}
							{% endif%}
							
						</div>
						
						<label for="tags">Tags</label>
						<select id="tags" class="selectpicker" name="tags" data-live-search="true" data-selected-text-format="count" data-size="6" multiple
						data-width="100%" required>

						{% for tag in tags%}
							
						 	<option class="ts-option" data-tokens="{{tag.name}}" value="{{tag.name}}" {%if tag.name in form.selected_tags%}selected{%endif%}>
						  		#{{tag.name}}
							</option>
						  
						{% endfor %}
						</select>

						<svg xmlns="http://www.w3.org/2000/svg" class="ts-image ts-image-edit" width="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-up"><polyline points="17 11 12 6 7 11"></polyline><polyline points="17 18 12 13 7 18"></polyline></svg>
						


						

					</div>
					<div class="col-sm-8">
						<div class="form-group">
							<!--<label for="project_name">Project name</label>
							<input type="text" class="form-control" id="project_name" maxlength="80" placeholder="Project name">-->
							{% if not form.project_name.errors%}
								{{render_field_with_errors(form.project_name,class="form-control",id="project_name",placeholder="Project name")}}
								<small id="projectnameHelp" class="form-text text-muted">Name of your project<br>(at least 6 characters and no more than 80 characters)
								</small>
							{% else %}
								{{render_field_with_errors(form.project_name,class="form-control is-invalid",id="project_name",placeholder="Project name")}}
							{% endif %}
						</div>
						<div class="form-group">
							<!--<label for="about">About project</label>
							<textarea class="form-control" id="about" rows="14" spellcheck="false" maxlength="1000"></textarea>-->
							{% if not form.about.errors %}
								{{render_field_with_errors(form.about,class="form-control",id="about", rows="13", spellcheck="false")}}
								<small id="emailHelp" class="form-text text-muted">No more than 1000 characters</small>
							{% else %}
								{{render_field_with_errors(form.about,class="form-control is-invalid",id="about", rows="13", spellcheck="false")}}
							{% endif %}
							
						</div>
						<div style="display: inline-flex;">
							<button type="button" class="btn ts-btn-danger" data-toggle="modal" data-target="#deleteProject" style="margin-left: 404%">Delete</button>
							<button type="submit" class="btn my-button" style="margin-left: 2%">Edit</button>
						</div>
					</div>	

				</div>
			</form>

		</div>
	</div>
</div>

{% endblock %}