@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap);


.main-title{
	font-weight: bold;
}
.main-title:focus{
	outline: none;
}

.main-title-orange{
	color:#fa6000;
}

.profile-dropdown-link{
	/*width: 194px;*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.profile-dropdown-link:hover{
	color:#fa6000;

}
.profile-dropdown-link:focus{
	color:#fa6000;

}
.profile-dropdown-text{
	font-weight: bold;
}
.profile-dropdown{
	margin-top: 15px;
	
	/*width: 194px;*/
	border:none;
}
.link{
	font-family: 'Noto Sans Regular',sans-serif;
	display:inline;
}

.link:active{
	
	outline: none;
	background-color: white; !important;
}
.link:focus{
	
	outline: none;
	background-color: white; !important;
}
.link:hover{
	color:#fa6000;
	outline: none;
}
.my-button{
	color: white;
	border: none;
	outline: none !important;
	background-color:#fa6000;
}
.my-button:hover{
	color: white;
	border: none;
	outline: none !important;
	background-color:#fa4400;
}
.my-button:active{
	color: white;
	border: none;
	outline: none !important;
	background-color:#fa4400 !important;
}
.my-button:focus{
	color: white;
	outline: 0!important;
	outline-color: transparent!important;
	outline-width: 0!important;
	outline-style: none!important;
	box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
	outline: none !important;
	background-color:#fa4400;
}

.my-button::-moz-focus-inner {
	border: 0 !important;
	outline: none !important;

}
.casual-button:focus{
	outline: 0!important;
	outline-color: transparent!important;
	outline-width: 0!important;
	outline-style: none!important;
	box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
	outline: none !important;
}

.casual-button::-moz-focus-inner {
	border: 0 !important;
	outline: none !important;

}

.ts-image{
	border:solid 4px white;
	border-radius: 15px;
}
.ts-image-edit:hover{
	border: solid 0px black;
}

.svg-link:focus{
	display: inline;
	outline: none;
}
.subsribes-modal{
	height:50%;	
	margin-left: : auto;
	overflow:auto;
}

.ts-btn-danger{
	color: white; 
	border: none;
	background-color: #a61000;
}
.ts-btn-danger:hover{

	color: white; 
	
	outline: none !important;
	background-color: #980024;	

}
.ts-btn-danger:focus{
	outline: 0!important;
	outline-color: transparent!important;
	outline-width: 0!important;
	outline-style: none!important;
	box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
	outline: none !important;
	background-color: #980024;	

}
.user-and-project-title{
	display: flex;
}
a svg{ 
	color: black;
}

a svg:hover{ 
	color: #fa6000;
}


/*.my-button:hover, .my-button:focus, .my-button:active{
	background-color:#fa6000;
	border:10px black solid;
	outline: : none;
	}*/

	html,body{
		height: 100%;
		display: flex;
		flex-direction: column;
		min-height: 100%;

	}
	main{
		flex: 1 0 auto;
		margin-top:7%
	}
	footer{
		flex: 0 0 auto;
	}
	label{
		font-family: 'Source Sans Pro Regular',sans-serif;
	}

	button{
		font-family: 'Source Sans Pro Regular',sans-serif;
	}


	.signin-form{
		margin-top:10%;
		margin-bottom:10%;
		margin-right: 5%;
		margin-left: 5%
	}

	.signup-form{
		margin-top:5%;
		margin-bottom:5%;
		margin-right:3%;
		margin-left: 3%
	}

	textarea{
		resize: none;
	}


	

